<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{HH:mm:ss.SSS}) [%t] %highlight(%-5level) %cyan(%logger{20}): %msg%n %ex{full}</pattern>
        </encoder>
    </appender>

    <appender name="Splunk"
              class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>\${SPLUNK_URL}</url>
        <token>\${SPLUNK_TOKEN}</token>
        <messageFormat>text</messageFormat>
        <batch_size_count>10</batch_size_count>
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%logger{20}: %msg%n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
<!--        <appender-ref ref="Splunk"/>-->
    </root>
</configuration>
